In [ ]:
# !pip install --upgrade pandas

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
# %cd '/content/drive/My Drive/Colab Notebooks/db'
# !ls

/content/drive/My Drive/Colab Notebooks/db
covid_19_data.csv  Meteorite_Landings.csv  test.hdf	 test.pkl
flights.db	   poblacion.csv	   test.json	 test.xlsx
london_merged.csv  test.csv		   test.parquet

In [1]:
import pandas as pd
pd.__version__

'1.2.4'

In [2]:
df = pd.read_csv('../data/covid_19_data.csv')
df.sample(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1174,1175,02/10/2020,South Australia,Australia,2020-02-02T22:33:07,2.0,0.0,0.0
746,747,02/04/2020,NaN,UK,2020-02-01T01:52:40,2.0,0.0,0.0
681,682,02/03/2020,"Santa Clara, CA",US,2020-02-03T00:43:02,2.0,0.0,0.0
810,811,02/05/2020,NaN,India,2020-02-03T21:43:02,3.0,0.0,0.0
2027,2028,02/22/2020,Guangdong,Mainland China,2020-02-22T10:03:04,1339.0,5.0,728.0
3109,3110,03/03/2020,Yunnan,Mainland China,2020-03-03T03:43:02,174.0,2.0,169.0
3201,3202,03/03/2020,NaN,Latvia,2020-03-02T20:13:49,1.0,0.0,0.0
387,388,01/30/2020,Guangxi,Mainland China,1/30/20 16:00,78.0,0.0,2.0
3289,3290,03/04/2020,NaN,United Arab Emirates,2020-03-03T23:43:02,27.0,0.0,5.0
2470,2471,02/26/2020,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0

In [3]:
#transforma la columna observation en datetime
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])

In [4]:
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update                object
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [5]:
#obtener las columnas del dataframe
list(df)

['SNo',
 'ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered']

In [6]:
df = df[[
    'ObservationDate',
    'Country/Region',
    'Confirmed',
    'Deaths',
    'Recovered'
    ]]
df

     ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0         2020-01-22  Mainland China        1.0     0.0        0.0
1         2020-01-22  Mainland China       14.0     0.0        0.0
2         2020-01-22  Mainland China        6.0     0.0        0.0
3         2020-01-22  Mainland China        1.0     0.0        0.0
4         2020-01-22  Mainland China        0.0     0.0        0.0
...              ...             ...        ...     ...        ...
3390      2020-03-04         Ukraine        1.0     0.0        0.0
3391      2020-03-04       Australia        0.0     0.0        0.0
3392      2020-03-04              US        0.0     0.0        0.0
3393      2020-03-04              US        0.0     0.0        0.0
3394      2020-03-04              US        0.0     0.0        0.0

[3395 rows x 5 columns]

In [7]:
# sumar segun las fechas
df_time = df.groupby('ObservationDate').sum()
df_time.head(5)

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23           653.0    18.0       30.0
2020-01-24           941.0    26.0       36.0
2020-01-25          1438.0    42.0       39.0
2020-01-26          2118.0    56.0       52.0

In [8]:
df1 = df_time['Confirmed'].iloc[10:15]
df1

ObservationDate
2020-02-01    12038.0
2020-02-02    16787.0
2020-02-03    19881.0
2020-02-04    23892.0
2020-02-05    27636.0
Name: Confirmed, dtype: float64

In [9]:
df2 = df_time['Deaths'].iloc[12:17]
df2

ObservationDate
2020-02-03    426.0
2020-02-04    492.0
2020-02-05    564.0
2020-02-06    634.0
2020-02-07    719.0
Name: Deaths, dtype: float64

In [10]:
df1 - df2

ObservationDate
2020-02-01        NaN
2020-02-02        NaN
2020-02-03    19455.0
2020-02-04    23400.0
2020-02-05    27072.0
2020-02-06        NaN
2020-02-07        NaN
dtype: float64

In [12]:
# numero de casos por dia
df_time.diff()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22             NaN     NaN        NaN
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
2020-01-27           809.0    26.0        9.0
2020-01-28          2651.0    49.0       46.0
2020-01-29           587.0     2.0       19.0
2020-01-30          2070.0    38.0       17.0
2020-01-31          1690.0    42.0       79.0
2020-02-01          2113.0    46.0       62.0
2020-02-02          4749.0   103.0      188.0
2020-02-03          3094.0    64.0      151.0
2020-02-04          4011.0    66.0      229.0
2020-02-05          3744.0    72.0      272.0
2020-02-06          3182.0    70.0      363.0
2020-02-07          3574.0    85.0      524.0
2020-02-08          2729.0    87.0      605.0
2020-02-09          3030.0   100.0      628.0
2020-02-10          2612.0   107.0      702.0
2020-02-11          2040.0   100.0      737.0
2020-02-12           419.0     5.0      467.0
2020-02-13         15148.0   253.0     1145.0
2020-02-14          6517.0   152.0     1763.0
2020-02-15          2145.0   143.0     1337.0
2020-02-16          2194.0   104.0     1470.0
2020-02-17          2034.0    98.0     1718.0
2020-02-18          1878.0   139.0     1769.0
2020-02-19           503.0   115.0     1769.0
2020-02-20           558.0   125.0     2056.0
2020-02-21           644.0     4.0      713.0
2020-02-22          1756.0   207.0     3996.0
2020-02-23           386.0    11.0      508.0
2020-02-24           585.0   160.0     1833.0
2020-02-25           845.0    79.0     2678.0
2020-02-26           982.0    62.0     2479.0
2020-02-27          1359.0    44.0     2893.0
2020-02-28          1368.0    58.0     3434.0
2020-02-29          1889.0    69.0     3071.0
2020-03-01          2358.0    55.0     2934.0
2020-03-02          1938.0    89.0     2886.0
2020-03-03          2535.0    75.0     2627.0
2020-03-04          2280.0    94.0     2942.0

In [13]:
# numero de casos en promedio por dia
df_time.diff().mean()

Confirmed    2251.642857
Deaths         77.071429
Recovered    1217.690476
dtype: float64

In [14]:
df_diff = df_time.diff()
df_diff

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22             NaN     NaN        NaN
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
2020-01-27           809.0    26.0        9.0
2020-01-28          2651.0    49.0       46.0
2020-01-29           587.0     2.0       19.0
2020-01-30          2070.0    38.0       17.0
2020-01-31          1690.0    42.0       79.0
2020-02-01          2113.0    46.0       62.0
2020-02-02          4749.0   103.0      188.0
2020-02-03          3094.0    64.0      151.0
2020-02-04          4011.0    66.0      229.0
2020-02-05          3744.0    72.0      272.0
2020-02-06          3182.0    70.0      363.0
2020-02-07          3574.0    85.0      524.0
2020-02-08          2729.0    87.0      605.0
2020-02-09          3030.0   100.0      628.0
2020-02-10          2612.0   107.0      702.0
2020-02-11          2040.0   100.0      737.0
2020-02-12           419.0     5.0      467.0
2020-02-13         15148.0   253.0     1145.0
2020-02-14          6517.0   152.0     1763.0
2020-02-15          2145.0   143.0     1337.0
2020-02-16          2194.0   104.0     1470.0
2020-02-17          2034.0    98.0     1718.0
2020-02-18          1878.0   139.0     1769.0
2020-02-19           503.0   115.0     1769.0
2020-02-20           558.0   125.0     2056.0
2020-02-21           644.0     4.0      713.0
2020-02-22          1756.0   207.0     3996.0
2020-02-23           386.0    11.0      508.0
2020-02-24           585.0   160.0     1833.0
2020-02-25           845.0    79.0     2678.0
2020-02-26           982.0    62.0     2479.0
2020-02-27          1359.0    44.0     2893.0
2020-02-28          1368.0    58.0     3434.0
2020-02-29          1889.0    69.0     3071.0
2020-03-01          2358.0    55.0     2934.0
2020-03-02          1938.0    89.0     2886.0
2020-03-03          2535.0    75.0     2627.0
2020-03-04          2280.0    94.0     2942.0

In [13]:
df_time.head(1).to_dict()

{'Confirmed': {Timestamp('2020-01-22 00:00:00'): 555.0},
 'Deaths': {Timestamp('2020-01-22 00:00:00'): 17.0},
 'Recovered': {Timestamp('2020-01-22 00:00:00'): 28.0}}

In [16]:
df.isnull().sum()

ObservationDate    0
Country/Region     0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [17]:
df_diff = df_diff.fillna({'Confirmed': 555.0,
 'Deaths': 17.0,
 'Recovered': 28.0})

In [18]:
df_diff

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
2020-01-27           809.0    26.0        9.0
2020-01-28          2651.0    49.0       46.0
2020-01-29           587.0     2.0       19.0
2020-01-30          2070.0    38.0       17.0
2020-01-31          1690.0    42.0       79.0
2020-02-01          2113.0    46.0       62.0
2020-02-02          4749.0   103.0      188.0
2020-02-03          3094.0    64.0      151.0
2020-02-04          4011.0    66.0      229.0
2020-02-05          3744.0    72.0      272.0
2020-02-06          3182.0    70.0      363.0
2020-02-07          3574.0    85.0      524.0
2020-02-08          2729.0    87.0      605.0
2020-02-09          3030.0   100.0      628.0
2020-02-10          2612.0   107.0      702.0
2020-02-11          2040.0   100.0      737.0
2020-02-12           419.0     5.0      467.0
2020-02-13         15148.0   253.0     1145.0
2020-02-14          6517.0   152.0     1763.0
2020-02-15          2145.0   143.0     1337.0
2020-02-16          2194.0   104.0     1470.0
2020-02-17          2034.0    98.0     1718.0
2020-02-18          1878.0   139.0     1769.0
2020-02-19           503.0   115.0     1769.0
2020-02-20           558.0   125.0     2056.0
2020-02-21           644.0     4.0      713.0
2020-02-22          1756.0   207.0     3996.0
2020-02-23           386.0    11.0      508.0
2020-02-24           585.0   160.0     1833.0
2020-02-25           845.0    79.0     2678.0
2020-02-26           982.0    62.0     2479.0
2020-02-27          1359.0    44.0     2893.0
2020-02-28          1368.0    58.0     3434.0
2020-02-29          1889.0    69.0     3071.0
2020-03-01          2358.0    55.0     2934.0
2020-03-02          1938.0    89.0     2886.0
2020-03-03          2535.0    75.0     2627.0
2020-03-04          2280.0    94.0     2942.0

In [19]:
#otra forma de introducir datos es
df_diff.fillna(df_time.head(1))

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
2020-01-27           809.0    26.0        9.0
2020-01-28          2651.0    49.0       46.0
2020-01-29           587.0     2.0       19.0
2020-01-30          2070.0    38.0       17.0
2020-01-31          1690.0    42.0       79.0
2020-02-01          2113.0    46.0       62.0
2020-02-02          4749.0   103.0      188.0
2020-02-03          3094.0    64.0      151.0
2020-02-04          4011.0    66.0      229.0
2020-02-05          3744.0    72.0      272.0
2020-02-06          3182.0    70.0      363.0
2020-02-07          3574.0    85.0      524.0
2020-02-08          2729.0    87.0      605.0
2020-02-09          3030.0   100.0      628.0
2020-02-10          2612.0   107.0      702.0
2020-02-11          2040.0   100.0      737.0
2020-02-12           419.0     5.0      467.0
2020-02-13         15148.0   253.0     1145.0
2020-02-14          6517.0   152.0     1763.0
2020-02-15          2145.0   143.0     1337.0
2020-02-16          2194.0   104.0     1470.0
2020-02-17          2034.0    98.0     1718.0
2020-02-18          1878.0   139.0     1769.0
2020-02-19           503.0   115.0     1769.0
2020-02-20           558.0   125.0     2056.0
2020-02-21           644.0     4.0      713.0
2020-02-22          1756.0   207.0     3996.0
2020-02-23           386.0    11.0      508.0
2020-02-24           585.0   160.0     1833.0
2020-02-25           845.0    79.0     2678.0
2020-02-26           982.0    62.0     2479.0
2020-02-27          1359.0    44.0     2893.0
2020-02-28          1368.0    58.0     3434.0
2020-02-29          1889.0    69.0     3071.0
2020-03-01          2358.0    55.0     2934.0
2020-03-02          1938.0    89.0     2886.0
2020-03-03          2535.0    75.0     2627.0
2020-03-04          2280.0    94.0     2942.0

In [20]:
# volver a sumar dia a dia los numeros de casos
df_diff.cumsum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23           653.0    18.0       30.0
2020-01-24           941.0    26.0       36.0
2020-01-25          1438.0    42.0       39.0
2020-01-26          2118.0    56.0       52.0
2020-01-27          2927.0    82.0       61.0
2020-01-28          5578.0   131.0      107.0
2020-01-29          6165.0   133.0      126.0
2020-01-30          8235.0   171.0      143.0
2020-01-31          9925.0   213.0      222.0
2020-02-01         12038.0   259.0      284.0
2020-02-02         16787.0   362.0      472.0
2020-02-03         19881.0   426.0      623.0
2020-02-04         23892.0   492.0      852.0
2020-02-05         27636.0   564.0     1124.0
2020-02-06         30818.0   634.0     1487.0
2020-02-07         34392.0   719.0     2011.0
2020-02-08         37121.0   806.0     2616.0
2020-02-09         40151.0   906.0     3244.0
2020-02-10         42763.0  1013.0     3946.0
2020-02-11         44803.0  1113.0     4683.0
2020-02-12         45222.0  1118.0     5150.0
2020-02-13         60370.0  1371.0     6295.0
2020-02-14         66887.0  1523.0     8058.0
2020-02-15         69032.0  1666.0     9395.0
2020-02-16         71226.0  1770.0    10865.0
2020-02-17         73260.0  1868.0    12583.0
2020-02-18         75138.0  2007.0    14352.0
2020-02-19         75641.0  2122.0    16121.0
2020-02-20         76199.0  2247.0    18177.0
2020-02-21         76843.0  2251.0    18890.0
2020-02-22         78599.0  2458.0    22886.0
2020-02-23         78985.0  2469.0    23394.0
2020-02-24         79570.0  2629.0    25227.0
2020-02-25         80415.0  2708.0    27905.0
2020-02-26         81397.0  2770.0    30384.0
2020-02-27         82756.0  2814.0    33277.0
2020-02-28         84124.0  2872.0    36711.0
2020-02-29         86013.0  2941.0    39782.0
2020-03-01         88371.0  2996.0    42716.0
2020-03-02         90309.0  3085.0    45602.0
2020-03-03         92844.0  3160.0    48229.0
2020-03-04         95124.0  3254.0    51171.0

In [21]:
# suma de los numeros de valores de varios dias
df_diff.resample('7D').sum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22          5578.0   131.0      107.0
2020-01-29         18314.0   361.0      745.0
2020-02-05         20911.0   621.0     3831.0
2020-02-12         30335.0   894.0     9669.0
2020-02-19          5277.0   701.0    13553.0
2020-02-26         12429.0   452.0    20324.0
2020-03-04          2280.0    94.0     2942.0

In [23]:
# suma de los numeros de valores en los domingos
df_diff.resample('W-sun').sum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-26          2118.0    56.0       52.0
2020-02-02         14669.0   306.0      420.0
2020-02-09         23364.0   544.0     2772.0
2020-02-16         31075.0   864.0     7621.0
2020-02-23          7759.0   699.0    12529.0
2020-03-01          9386.0   527.0    19322.0
2020-03-08          6753.0   258.0     8455.0

In [24]:
# suma de los numeros de valores por meses
df_diff.resample('M').sum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-31          9925.0   213.0      222.0
2020-02-29         76088.0  2728.0    39560.0
2020-03-31          9111.0   313.0    11389.0

In [26]:
# ver el numero de valores en cada mes
df_diff.resample('M').count()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-31              10      10         10
2020-02-29              29      29         29
2020-03-31               4       4          4

In [28]:
# ver el promedio de los valores en cada mes
df_diff.resample('M').mean()

                   Confirmed     Deaths    Recovered
ObservationDate
2020-01-31        992.500000  21.300000    22.200000
2020-02-29       2623.724138  94.068966  1364.137931
2020-03-31       2277.750000  78.250000  2847.250000


### Algunas opciones de resample
Alias - Description

B - Business day

D - Calendar day

W - Weekly

M - Month end

Q - Quarter end

A - Year end

BA - Business year end

AS - Year start

H - Hourly frequency

T, min - Minutely frequency

S - Secondly frequency

L, ms - Millisecond frequency

U, us - Microsecond frequency

N, ns - Nanosecond frequency